<footer class="footer" id="Return-footer">
  <div class="navbar navbar-default navbar-flexible-bottom">
    <div class="container">
      <div class="navbar-footer">
        <div class="container">     
            <ul class="nav nav-tabs">
              <li><%= link_to "About", navigate_about_path%></li>
              <li><%= link_to "Help", navigate_help_path %></li>
              <li><%= link_to "Terms & Conditions", navigate_terms_path %></li>
              <li><%= link_to "Privacy Policy", navigate_privacy_path %></li>
              <li><%= link_to "Contact", navigate_contact_path %></li> 
            </ul>
        </div>
        <div class="row">
          <div class ="footer-close">
            S-Corp&copy; 2015. All rights reserved. 
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>